{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="accwrapper">
    <div class="accfoto">
        <div class="fotowrapper">
            <div class="loginfoto"></div>
        </div>
    </div>
    <div class="acctekst">
        <div class="accform" id="logincontainer">
            <div class="row">
                <form class="col s12" action="{{ url_for('login') }}" method="post">
                    <div class="row">
                        <div class="subtekst row">
                            <div class="col s12">
                                <span>Welkom terug!</span>
                            </div>
                        </div>
                        <div class="titeltekst row">
                            <div class="col s12">
                                <span>Login met uw account</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="username" id="email" type="text" class="validate" required="">
                                <label for="email">Gebruikersnaam</label>
                                <div id="errorText"></div>
                            </div>
                        </div>
                        <div class="row ww">
                            <div class="input-field col s12">
                                <input name="password" id="password" type="password" class="validate" required="">
                                <label for="password">Wachtwoord</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="error">{{ errorMessage }}</div>
                                <input type="submit" id="loginBtn" value="Login" class="accknop waves-effect btn">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}