{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="dashboardcontainer">
    <nav class="menu" tabindex="0">
        <header class="avatar">
            <div class="accountoverview">
                <img src="/static/images/profilepic.svg" />
                <span>{{ session.displayname }}</span>
            </div>
            <br>
        </header>
        <div class="loguit">
            <a href="/logout"><span>Uitloggen</span></a>
        </div>
    </nav>
</div>

<div class="dashboard">
    <div class="flexcontainer">
        <a class="backarrow" href="/dashboard"><img src="/static/images/arrowleft.svg"></a>
        <h1 class="statistieken">{{ header }}</h1>
        <p>{{ description }}</p>
        <span class="bi bi-arrow-left-circle"></span>
        <div class="chartcontainer">
            <div id="chart" class="chart"></div>
        </div>
    </div>
</div>
<script>
     $('input[type=radio]').on('change', function() {
         $('button[type=submit]').click();})

    var graphs = {{ graphJSON | safe}}
    Plotly.plot('chart', graphs, {});
</script>
{% endblock %}