{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="dashboardcontainer">
    <nav class="menu" tabindex="0">
        <header class="avatar">
            <div class="accountoverview">
                <img src="/static/images/profilepic.svg" />
                <span>{{ session.displayname }}</span>
            </div>
            <br>
            <div class="loguit" style="position:absolute; bottom: 0; width: 100%;">
                <a href="/logout"><span>Uitloggen</span></a>
            </div>
    </nav>
</div>
<div class="dashboard">
    <div class="flexcontainer">
        <a class="backarrow" href="/dashboard"><img src="/static/images/arrowleft.svg"></a>
        <h1 class="statistieken">{{ header }}</h1>
        <span class="bi bi-arrow-left-circle"></span>
        <iframe src="/dashboard/dash/dashboard_template/evenwichtsbalk" class="w-100 h-100"></iframe>
    </div>
</div>
{% endblock %}